/* You can add global styles to this file, and also import other style files */
body {
	background: #F8F8F8 !important;
	font: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
	font-size: 14px !important;
}

p {
	margin: 0;
}

.form-control {
    font-size: 14px !important;
}

.row.header {
	height: 200px;
	justify-content: center;
	align-items: flex-end;
}

.main-title {
	margin-top: 30px;
	text-align: center;
	font-size: 24px;
	font-weight: 300;
	width: 100%;
	
}

.form-label {
	margin-top: 10px;
	margin-bottom: 5px;
}

.full-length {
	width: 100%;
}

.box {
	box-sizing: border-box;
	width: 350px;
	margin: auto;
	border: 1px solid #D9DFE4;
	background-color: white;
	margin-top: 5px;
	padding: 20px;
	padding-top: 10px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	font-weight: 600;
}

.btn {
	margin-top: 10px;
    width: 100%;
    background-color: #0058D0AA !important;
    border: none;
}