<!-- Title -->
<div class="row header">
  <img src="/assets/images/logo.png" class="main-logo" />
</div>
<div class="row">
  <p class="main-title">Authorize application</p>

</div>

<div class="row">

  <!-- Main form -->
  <div class="box">

    <div class="full-length">
      <p>
        <span>{{ audience }}</span>
        <span>{{ applicationName }} would like permission to access your account</span>
      </p>
    </div>

    <form class="consent-form">

      <label *ngFor="let scope of scopes">
        <input [(ngModel)]="scope.selected" type="checkbox" name="{{ scope.name }}" value="{{ scope.name }}" [checked]="scope.selected">
        {{ scope.description }}
      </label>

      <button class="btn btn-primary" [disabled]="submitInProgress == true" type="submit" aria-expanded="false"
        (click)="submit()">
        <span *ngIf="submitInProgress == false">Submit</span>
        <span *ngIf="submitInProgress == true">Please wait...</span>
      </button>
    </form>
  </div>
</div>