<p class="form-label">Username</p>
<input [disabled]="disabled" [(ngModel)]="username" type="text" class="form-control" name="username">

<p class="form-label">Password</p>
<input [disabled]="disabled" [(ngModel)]="password" type="password" class="form-control" name="password">

<button class="btn btn-primary" [disabled]="disabled || username.length == 0 || password.length == 0" type="submit" aria-expanded="false"
    (click)="submit()">
    <span *ngIf="disabled == false">Submit</span>
    <span *ngIf="disabled == true">Please wait...</span>
</button>