.auth-error {
	width: 350px;
	margin: auto;
	margin-top: 5px;
	-webkit-transition: 1s linear all; /* Chrome */
	-moz-transition: 1s linear all; /* Firefox */
	-o-transition: 1s linear all; /* Opera */	
	transition: 1s linear all;
	opacity: 1;
}
:host {
	width: 350px;
	margin: auto;
    margin-top: 5px;
}
