<!-- Title -->
<div class="container">
  <div class="row header">
    <img src="/assets/images/logo.png" class="main-logo" />
  </div>
  <div class="row">
    <p class="main-title">Sign-in to Ident.io</p>
  </div>

  <!-- Alert box -->
  <div class="row justify-content-center">

    <app-alert-box [errorMessage]="errorMessage"></app-alert-box>
  </div>

  <!-- Main form -->
  <div class="row justify-content-center">
    <div class="box">

      <p class="form-label">Authentication method</p>
      <select [(ngModel)]="selectedAuthenticationMethod" [ngModelOptions]="{standalone: true}"
        [disabled]="submitInProgress" class="form-control full-length">
        <option *ngFor="let authenticationMethod of authenticationMethods" [ngValue]="authenticationMethod">
          {{ authenticationMethod.name }}
        </option>
      </select>

      <div [ngSwitch]="selectedAuthenticationMethod?.type">
        <app-username-password-form [authMethod]="selectedAuthenticationMethod" [disabled]="submitInProgress"
          (authenticationSubmitted)="onAuthenticationSubmitted($event)"
          *ngSwitchCase="authenticationMethodTypes.UsernamePassword">
        </app-username-password-form>
        <app-u2f-form *ngSwitchCase="authenticationMethodTypes.U2F"></app-u2f-form>
      </div>
    </div>
  </div>

  <!-- SAML authentication methods -->
  <div class="row justify-content-center">

    <div class="box" *ngIf="samlAuthenticationMethods?.length > 0">
      <p>Alternatively you can login with:</p>

      <div *ngFor="let method of samlAuthenticationMethods"class="text-center">

          <!-- <img [src]="'/logo/' + method.name" [alt]="method.name" (click)="samlSpSubmit(method)" /> -->
         <a [routerLink]="" (click)="samlSpSubmit(method)">
          <img src="/assets/images/logo.png" [alt]="method.name" class="centered" />
        </a>
        </div>
    </div>

  </div>

</div>